.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 55rem;
}

.main h1 {
    text-align: left;
}

.small-text {
    color: black
}

@media (max-width:700px) {
    .dayTitle {
        font-size: 1.1rem;
    }
    .small-text {
        font-size: .8rem;
    }
}

